<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <appSettings>
    <add key="FileToRefactor" value="C:\Liram\ramplus\Liram.Ramplus.UI.Controls\Reports\Views\ReportSettingsDataController.cs" />
    <add key="ResourcePath" value="c:\Liram\ramplus\Liram.Ramplus.UI.Controls\Reports\Views\PdfReportForm.resx" />
    <add key="Mode" value="Form" />
    <add key="FromLanguage" value="iw" />
    <add key="ToLanguage" value="en" />
  </appSettings>
</configuration>
